body.tdo-resources {
	h1,h2,h3,h4,h5,h6 {
		line-height: 1.3;
		margin: auto;
	}
}

nav#chapters {
	height: 350px;
	overflow-y: scroll;
	overflow-x: hidden;
	.jstree-children {
		.jstree-node {
			margin-left: 0;
		}
	}
}

input#chaptersearch {
	width: 100%;
}
